name: Android App Build
on:
  push:
    branches:
      - feat/*
      - hotfix/*
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: self-hosted
    name: Android App Build
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 11

      - name: Setup Android SDK
        uses: android-actions/setup-android@v2

      - name: Cache Gradle packages
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties', '**/buildSrc/**/*.kt') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Get sign key
        run: echo $BASE64_KEYSTORE | base64 --decode > app/release-key.jks
        env:
          BASE64_KEYSTORE: ${{ secrets.BASE64_KEYSTORE }}

      - name: Create local.properties
        run: |
          echo "SIGNED_KEY_ALIAS=$SIGNED_KEY_ALIAS" > local.properties
          echo "SIGNED_KEY_PASSWORD=$SIGNED_KEY_PASSWORD" >> local.properties
          echo "SIGNED_STORE_PASSWORD=$SIGNED_STORE_PASSWORD" >> local.properties
          echo "SIGNED_STORE_FILE=./release-key.jks" >> local.properties
          echo "ADMOB_ID=\"$ADMOB_ID\"" >> local.properties
          echo "ADMOB_UNIT_ID=\"$ADMOB_UNIT_ID\"" >> local.properties
          echo "MAP_KEY=\"$MAP_KEY\"" >> local.properties
          echo "API_URL=\"$API_URL\"" >> local.properties
        env:
          SIGNED_KEY_ALIAS: ${{ secrets.SIGNED_KEY_ALIAS }}
          SIGNED_KEY_PASSWORD: ${{ secrets.SIGNED_KEY_PASSWORD }}
          SIGNED_STORE_PASSWORD: ${{ secrets.SIGNED_STORE_PASSWORD }}
          ADMOB_ID: ${{ secrets.ADMOB_ID }}
          ADMOB_UNIT_ID: ${{ secrets.ADMOB_UNIT_ID }}
          MAP_KEY: ${{ secrets.MAP_KEY }}
          API_URL: ${{ secrets.API_URL }}
      - name: Create google-services.json
        run: echo $GOOGLE_SERVICES_JSON | base64 --decode > app/google-services.json
        env:
          GOOGLE_SERVICES_JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}
      - name: Build Release App Bundle
        run: ./gradlew bundleRelease
      - name: Upload App Bundle
        uses: actions/upload-artifact@v2
        with:
          name: app-release
          path: app/build/outputs/bundle/release/app-release.aab
  deploy:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: self-hosted
    needs: build
    name: Android App Deploy
    steps:
      - name: Download App Bundle
        uses: actions/download-artifact@v2
        with:
          name: app-release
          path: app/build/outputs/bundle/release/
      - name: Upload to Google Play
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJsonPlainText: ${{ secrets.GOOGLE_PLAY_SERVICE_ACCOUNT }}
          packageName: app.kobuggi.hyuabot
          releaseFiles: app/build/outputs/bundle/release/app-release.aab
          track: internal
          whatsNewDirectory: ./changelogs
